{% extends "base_new.html" %}


{% block content %}
<!-- jQuery (necessary for Highchart & Bootstrap's JavaScript plugins) -->
{% load staticfiles %}
<script src="{% static "js/highstock-2.0.1/highstock.js" %}"></script>

<!-- 標題 -->
<div class="container" style="width:80%">
	<div class="page-header">
	  <h3 style="text-align:center">{{table_title}} <small>近5年大戶籌碼變化</small></h3>
	</div>
</div><!-- /標題 -->

<!-- 切換頁籤 -->
<div class="container" style="width:80%">
	<ul class="nav nav-tabs">
		<li class="active" id="bigchip_tracking"><a data-toggle="tab">大戶籌碼變化</a></li>
		<!-- <li id="#"><a data-toggle="tab">籌碼分析(開發中)</a></li>
		<li id="#"><a data-toggle="tab">籌碼分析(開發中)</a></li> -->
	</ul>
</div><!-- /切換頁籤 -->

<!-- Highchart圖表顯示區 -->
<div class="container" id="chart" style="width:80%; height:400px;"></div>

<!-- 表格顯示區 -->
<div class="container" id="table" style="width:81%">
	<div class="panel-body">
		<table class="table table-hover table-condensed table-bordered table table-striped">
			<thead>
				<tr>
					<th class="info"  style="text-align:center">項目</th>
					<th class="warning"  style="text-align:center" colspan="4">月股價行情</th>
					<th class="info"  style="text-align:center" colspan="4">持股 1,000張以上</th>
					<th class="warning"  style="text-align:center" colspan="3">持股 800~1,000張</th>
					<th class="info"  style="text-align:center" colspan="3">持股 600~800張</th>
					<th class="warning"  style="text-align:center" colspan="3">小計</th>
				</tr>
				<tr>
					<th class="info"  style="text-align:center" width='70px'>日期</th>
					<th class="warning"  style="text-align:center" width='60px'>開盤價</th>
					<th class="warning"  style="text-align:center" width='60px'>最高價</th>
					<th class="warning"  style="text-align:center" width='60px'>最低價</th>
					<th class="warning"  style="text-align:center" width='60px'>收盤價</th>
					<th class="info"  style="text-align:center" width='60px'>人數</th>
					<th class="info"  style="text-align:center" width='70px'>張數</th>
					<th class="info"  style="text-align:center" width='60px'>比率</th>
					<th class="info"  style="text-align:center" width='70px'>增減(張)</th>
					<th class="warning"  style="text-align:center" width='60px'>人數</th>
					<th class="warning"  style="text-align:center" width='70px'>張數</th>
					<th class="warning"  style="text-align:center" width='60px'>比率</th>
					<th class="info"  style="text-align:center" width='60px'>人數</th>
					<th class="info"  style="text-align:center" width='70px'>張數</th>
					<th class="info"  style="text-align:center" width='60px'>比率</th>
					<th class="warning"  style="text-align:center" width='60px'>人數</th>
					<th class="warning"  style="text-align:center" width='70px'>張數</th>
					<th class="warning"  style="text-align:center" width='60px'>比率</th>
				</tr>
			</thead>
			<tbody id="price_chip_data">
			</tbody>
		</table>
	</div>
</div><!-- /表格顯示區 -->

{% endblock %}


{% block footer %}
	{% load staticfiles %}
	<script src="{% static "chip_tracking.js" %}"></script>
{% endblock %}