{% extends "base_new.html" %}

{% block content %}

  
  <style type="text/css">
    /* Custom container */
    .container-narrow {
      margin: 0 auto;
      max-width: 740px;
    }
  </style>

  </br></br>
  <div class="container-narrow">
    <div class="jumbotron">
      <h1>Welcome to PickStock!</h1>
      <p>可查詢台灣、美國、中國的<code>景氣指標</code>，上市櫃公司<code>股價營收趨勢</code>、以及<code>財務基本面總覽</code>，更可直接從資料庫篩選出績優股作為自己的<code>口袋名單</code>.</p>
      <div class="text-center">
        <a class="btn btn-info btn-lg" role="button">馬上開始使用</a>
      </div>
    </div>
  </div>

{% endblock %}